table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.bord {
    border: 1px solid black;

}

.coffeeCards {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    padding: 15px;
}

.drk-card {
    background-color: #93794b;
}
.med-card{
    background-color: #bb9a61;
}
.lt-card{
    background-color: #edc176;
}

body {
    background-color: #6F442A;
}
#header{
    text-align: center;
    color: #BB9A61;
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    font-weight: bolder;
}
h3{
    font-weight: bolder;
}
#form{
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.banner {
    width: 100%;
    background-size: cover;
    background-image: url(img/coffee.png);
    margin-bottom: 0.5rem;
}
#roast-selection {
    width: 100%;
    margin-bottom: 1rem;
}

#submit {
    width: 100%;
}

label {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

#body1 {
    margin-bottom: 5rem;
}


#search-field {
    margin-bottom: 1rem;
    width: 100%;
}

h1 {
    margin-bottom: 1rem;
}
