table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.bord {
    border: 1px solid black;

}

.coffeeCards {
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    padding: 15px;
}

.darkcard {
    background-color: darkgrey;
}

body {
    background-color: #6F442A;
}